@charset "utf-8";
/* Powered by CaspianTeam.com */
/* Developer : Alimohammad Eghbaldar */
body, div, p, h1, h2, h3, h4, ul, li, table{
margin:0;
padding:0;
border:none;
}
body{
padding:0px;
background-color:#000;
}
#body{
margin: 0px auto 20px auto;
background-color:#1a1a19;
width:940px;
height:100%;/**/
}

